* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Otomanopee One", sans-serif;
}
.flexible-cointainer {
  display: flex;
}
h1 {
  font-size: 50px;
}
p {
  font-size: 20px;
}
.orange-color {
  color: orange;
}
.salmon-color {
  color: salmon;
}
.tomato-color {
  color: tomato;
}
.header-bg {
  background-image: url(./images/shapes/Frame58.jpg);
  background-repeat: no-repeat;
}
.head-para-txt,
.about-para-txt {
  margin-top: 10%;
  margin-bottom: 10%;
}
.half-width {
  width: 50%;
  margin: 5%;
}
.head-img {
  width: 90%;
}
.middle-img {
  width: 50%;
  margin-left: 20%;
}
.order-food-btn,
.contact-me-btn {
  text-decoration: none;
  background-image: linear-gradient(salmon, tomato);
  padding: 10px 40px;
  text-align: center;
  color: white;
  text-transform: uppercase;
  border-radius: 50px;
  font-weight: 900;
}
.order-food-btn:hover,
.contact-me-btn:hover {
  opacity: 0.8;
}
.middle-bg {
  background-image: url(./images/shapes/Frame59.jpg);
}
.recipe-txt {
  margin-bottom: 100px;
}
.my-recipe-head-txt {
  text-align: center;
}
.my-recipe-head-txt h1 {
  margin-top: 80px;
  margin-bottom: 20px;
}
.my-recipe-head-txt p {
  margin-bottom: 30px;
}
.my-recipe-txt {
  margin-top: 50px;
  text-align: center;
  margin-bottom: 100px;
}
/* .recipe-section {
  width: 100%;
} */
.recipe-items {
  width: 80%;
  display: flex;
  margin-bottom: 100px;
  margin: 0 auto;
}
.card {
  width: 27%;
  box-shadow: 10px 10px 40px grey;
  border-radius: 10px;
  margin: 0 auto;
}
.card img {
  width: 82%;
  margin-top: 20px;
  margin-left: 30px;
}
.card h3,
h6 {
  margin: 20px;
}
/* .recipe-items-card {
  display: flex;
  width: 30%;
  padding: 10px;
} */
.social-follwer {
  box-shadow: 10px 10px 40px grey;
  padding: 60px;
  margin: 0 auto;
  width: 80%;
  display: flex;
  border-radius: 10px;
}
.social {
  margin: 0 auto;
}
.footer-div {
  text-align: center;
  padding: 40px;
  margin-top: 60px;
  background-color: dimgrey;
}
footer p {
  margin-top: 20px;
}
