/* RESET AND GLOBAL FONT */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Otomanopee One", sans-serif;
}
/* START MENU SECTION */
.header {
  height: 100px;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7));
}
nav {
  display: flex;
  padding: 20px 40px;
}
nav a {
  text-decoration: none;
}
.nav-links {
  flex: 1;
  text-align: right;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-links ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}
.flexible-cointainer {
  display: flex;
}
h1 {
  font-size: 50px;
}
p {
  font-size: 20px;
}
/* SPAN COLOR */
.orange-color {
  color: orange;
}
.salmon-color {
  color: salmon;
}
.tomato-color {
  color: tomato;
}
.white-color {
  color: white;
}
/* HEADER BACKGROUND */
.header-bg {
  background-image: url(./images/shapes/Frame58.jpg);
  background-repeat: no-repeat;
}
/* HEADER TXT */
.head-para-txt,
.about-para-txt {
  margin-top: 10%;
  margin-bottom: 10%;
}
/* HALF-WIDTH */
.half-width {
  width: 50%;
  margin: 5%;
}
/* HEAD BACKGROUND */
.head-img {
  width: 90%;
}
/* MIDDLE BACKGROUND */
.middle-img {
  width: 50%;
  margin-left: 20%;
}
/* ORDER AND CONTACT BUTTONS */
.order-food-btn,
.contact-me-btn {
  text-decoration: none;
  background-image: linear-gradient(salmon, tomato);
  padding: 10px 40px;
  text-align: center;
  color: white;
  text-transform: uppercase;
  border-radius: 50px;
  font-weight: 900;
}
/* ODER AND CONTACT BUTTONS HOVER ACTIONS */
.order-food-btn:hover,
.contact-me-btn:hover {
  opacity: 0.5;
}
/* MIDDLE BACKGROUND */
.middle-bg {
  background-image: url(./images/shapes/Frame59.jpg);
}
/* RECIPIES TXT */
.recipe-txt {
  margin-bottom: 100px;
}
.my-recipe-head-txt {
  text-align: center;
}
.my-recipe-head-txt h1 {
  margin-top: 80px;
  margin-bottom: 20px;
}
.my-recipe-head-txt p {
  margin-bottom: 30px;
}
.my-recipe-txt {
  margin-top: 50px;
  text-align: center;
  margin-bottom: 100px;
}
.recipe-items {
  width: 80%;
  display: flex;
  margin-bottom: 100px;
  margin: 0 auto;
}
/* CARD ITEMS */
.card {
  width: 27%;
  box-shadow: 10px 10px 40px grey;
  border-radius: 10px;
  margin: 0 auto;
  transition: width 1s;
}
.card img {
  width: 82%;
  margin-top: 20px;
  margin-left: 30px;
  border: 2px solid tomato;
  border-radius: 22px;
}
.card h3,
h6 {
  margin: 20px;
}
/* .card:hover {
  width: 35%;
} */
/* SOCIAL FOLLOWERS */
.social-follwer {
  box-shadow: 10px 10px 40px grey;
  padding: 60px;
  margin: 0 auto;
  width: 80%;
  display: flex;
  border-radius: 10px;
}
.social {
  margin: 0 auto;
}
/* FOOTER */
.footer-div {
  text-align: center;
  padding: 40px;
  margin-top: 60px;
  background-color: dimgrey;
}
footer p {
  margin-top: 20px;
}
